aiogram==3.2.0
aiohttp-retry==2.8.3
anyio==4.8.0
asgiref==3.8.1
async-timeout==4.0.3
attrs==24.3.0
Babel==2.14.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
Django==5.1.5
djangorestframework==3.15.2
djangorestframework-simplejwt==5.4.0
fastapi==0.115.6
frozenlist==1.5.0
deep-translator==1.11.4  # `googletrans` o‘rniga ishlatish tavsiya etiladi
gunicorn==23.0.0
magic-filter==1.0.12
multidict==6.1.0
packaging==24.2
phonenumbers==8.13.53
pillow==11.1.0
propcache==0.2.1
pydantic==2.10.5
pydantic-core==2.27.2
PyJWT==2.10.1
python-decouple==3.8
pytz==2024.2
requests==2.32.3
SQLAlchemy==2.0.37
starlette==0.41.3
twilio==9.4.3
typing-extensions==4.12.2
urllib3==2.3.0
uvicorn==0.34.0
wikipedia-api==0.8.1
yarl==1.18.3
